.card {
    /*max-width: 400px;*/
    width: 25%;
    /*float: left;*/
    display: inline-block;
    margin: 15px 0px 0px 15px;
  }
  
  .header-image {
    margin-right: 5px;
    background-size: cover;
  }
  