<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <h1 translate [translateParams]="{ title: 'TActHab' }" >
    welcome
  </h1>

  <div class="fill"></div>

  <img *ngIf="isConnected()"
       class="user"
       [src]="getUserImageURL()" />
  <label class="name">{{getUserName()}}</label>
  <label class="connected">{{getStrConnected() | async }}</label>

  <section >
    <!--<label translate [translateParams]="{ gender: 'male', count: 1, logged: isConnected() }" >
      logged
    </label>-->
    <button class="more" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="isConnected()" (click)="openConnect()">
        <mat-icon>input</mat-icon>
        <span translate>
          connect
        </span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuLang">
        <mat-icon>language</mat-icon>
        <span translate>
          lang
        </span>
      </button>
      <button mat-menu-item (click)="createBLEBridge()">
        <mat-icon>bluetooth</mat-icon>
        <span>
          {{getBLEBridgeLabel() | async}}
        </span>
      </button>
      <button mat-menu-item [disabled]="!isConnected()" (click)="logout()">
        <mat-icon>eject</mat-icon>
        <span translate>
          disconnect
        </span>
      </button>
    </mat-menu>
  </section>
  <mat-menu #menuLang="matMenu">
    <button mat-menu-item *ngFor="let lang of getLanguages()" (click)="setLanguage(lang)">
      <label>
          {{getLanguageFullName(lang)}}
      </label>
    </button>
  </mat-menu>
</mat-toolbar>

<app-upnp-media-player  *ngFor   = "let mp of getMediaPlayers()"
                        [data]   = "mp"
                        [update] = "mp.update"
></app-upnp-media-player>
<app-hue-lamp           *ngFor   = "let hueLamp of getHueLamps()"
                        [data]   = "hueLamp"
                        [update] = "hueLamp.update"
></app-hue-lamp>

<app-metawear           *ngFor   = "let metawear of getMetawears()"
                        [data]   = "metawear"
                        [update] = "metawear.update"
></app-metawear>

<h3>Raw bricks list</h3>
<ul>
  <li *ngFor="let brick of getBricks()">
    <code>{{brick.name}} : {{brick.types | json}} ({{brick.id}})<br/>
          <!-- {{brick | json}} -->
    </code>
  </li>
</ul>
