

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">
      {{getName()}}
    </h2>

    <section class="control">
      <mat-slider
        [max]="100"
        [min]="0"
        [step]="1"
        [thumb-label]="true"
        [tick-interval]="10"
        [value]="getVolume()"
        (change)="setVolume($event)"
        [vertical]="true">
      </mat-slider>
      <section class="infosPPS">
        <section class="infos">
          <label>Média courant...</label>
        </section>
        <section class="PPS">
          <button mat-fab color="primary" (click)="load()">⏏</button>
          <button mat-fab color="primary" (click)="stop()">⬛</button>
          <button mat-fab color="primary" (click)="play()">▶</button>
          <button mat-fab color="primary" (click)="pause()">॥</button>
        </section>
      </section>
    </section>


  </mat-card-content>
</mat-card>
